.display {
    margin-bottom: 37px;

    .form__content {
        display: flex;
        flex-direction: column;

        .form__button {
            color: $fourth-color;
            background-color: $tertiary-color;
            border-radius: 4px;
            padding: 0px 12px;
            height: 40px;
            font-weight: 400;
            font-size: 1rem;
            border: none;
            outline: none;
        }

        .form__button--finish {
            align-self: flex-end;
            margin-top: 19px;
        }

        .form__next {
            align-self: flex-end;
            display: flex;
            align-items: center;
            gap: 12.75px;
            width: 82px;
            .form__icon--next {
                background: url('/image/Vector.svg');
                background-repeat: no-repeat;
                width: 10px;
                height: 13px;
            }
        }

        .form__certificates {
            display: flex;
            flex-direction: column;

            .form__button--more {
                margin: 10px 0;
                width: 109px;
                align-self: flex-end;
                cursor:pointer;
            }
        }

        .form__item {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 38px;

            label {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: $label-color;
            }

            .label__favorite{
                order: -1;
            }

            input {
                background: #FFFFFF;
                border: 2px solid #AAAAAA;
                border-radius: 4px;
                height: 40px;
                padding-left: 12px;
            }

            .favorite__input {
                position: relative;
                display: flex;
                gap: 8px;
                flex-direction: column;
                order: 2;

                .certificates__input {
                    display: flex;
                    padding-right: 40px;
                }

                span {
                    background-image: url('../../image/heart.svg');
                    background-repeat: no-repeat;
                    width: 23px;
                    height: 22px;
                    position: absolute;
                    top: 12px;
                    right: 13px;
                    cursor: pointer;
                }
            }

            .favorite__input--active{
                order: 1;

                span{
                    background: url('../../image/blueHeart.svg');
                }
            }
        }

        .social__input--github {
            margin-bottom: 312px; 
        }

        // final

        .final__title {
            font-weight: 600;
            font-size: 1.12rem;
        }

        #line {
            background-color: $tertiary-color;
            width: 100%;
            height: 1px;
        }

        .final__titles {
            color: $tertiary-color;
        }

        .form__create {
            width: 133px;
            height: 37px;
            font-size: 0.8rem;
        }


    }
}