@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Nunito:wght@300;400;500;600;700;800&display=swap");
body {
  font-family: "Nunito", sans-serif;
  background: #DDDDDD;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main.container {
  box-sizing: border-box;
  background-color: #FFFFFF;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  max-width: 617px;
  border-radius: 20px;
}

@media screen and (max-width: 617px) {
  body main.container {
    padding-left: 8.1%;
    padding-right: 8.1%;
    border-radius: 0;
  }
}
header {
  padding: 54px 0 18px 0;
}
header h1 {
  font-family: "Inter";
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.navigation .navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  box-shadow: inset 0px -2px 0px #AAAAAA;
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.12rem;
}
.navigation .navigation__item--active {
  box-shadow: inset 0px -3px 0px #074EE8;
  color: #074EE8;
}

.display {
  margin-bottom: 37px;
}
.display .form__content {
  display: flex;
  flex-direction: column;
}
.display .form__content .form__button {
  color: #FFFFFF;
  background-color: #074EE8;
  border-radius: 4px;
  padding: 0px 12px;
  height: 40px;
  font-weight: 400;
  font-size: 1rem;
  border: none;
  outline: none;
}
.display .form__content .form__button--finish {
  align-self: flex-end;
  margin-top: 19px;
}
.display .form__content .form__next {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 12.75px;
  width: 82px;
}
.display .form__content .form__next .form__icon--next {
  background: url("/Team-Project/image/Vector.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 13px;
}
.display .form__content .form__certificates {
  display: flex;
  flex-direction: column;
}
.display .form__content .form__certificates .form__button--more {
  margin: 10px 0;
  width: 109px;
  align-self: flex-end;
}
.display .form__content .form__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 38px;
}
.display .form__content .form__item label {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #767676;
}
.display .form__content .form__item input {
  background: #FFFFFF;
  border: 2px solid #AAAAAA;
  border-radius: 4px;
  height: 40px;
}
.display .form__content .form__item--side {
  display: flex;
}
.display .form__content .social__input--github {
  margin-bottom: 312px;
}
.display .form__content .final__title {
  font-weight: 600;
  font-size: 1.12rem;
  align-self: center;
  margin-top: 36px;
}
.display .form__content #line {
  background-color: #074EE8;
  width: 100%;
  height: 1px;
  margin: 14px 0 25px 0;
}
.display .form__content .final__titles {
  color: #074EE8;
}
.display .form__content .background__gray {
  background-color: #F5F2F2;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px 17px;
}
.display .form__content .form__create {
  width: 133px;
  height: 37px;
  font-size: 0.8rem;
}
.display .form__content .final__social {
  box-sizing: border-box;
}
.display .form__content .p_general {
  margin-top: 10px;
  width: 29%;
  color: #767676;
  font-weight: 700;
}
.display .form__content .p_general--min {
  margin-bottom: 10px;
}
.display .form__content .p_base {
  color: #767676;
  display: block;
  word-wrap: break-word;
}
.display .form__content .engloba {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.display .form__content .side {
  display: flex;
  align-items: flex-end;
}
.display .form__content .button_side {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 438px) {
  .display .form__content .engloba {
    display: flex;
    flex-direction: column;
  }
  .display .form__content .side {
    display: initial;
  }
  .display .form__content .p_general {
    width: 70%;
  }
  .display .form__content .p_general--min {
    margin-top: 15px;
    margin-bottom: 7px;
  }
  .display .form__content .p_general--mod {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}/*# sourceMappingURL=style.css.map */