@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Nunito:wght@300;400;500;600;700;800&display=swap");
body {
  font-family: "Nunito", sans-serif;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main.container {
  box-sizing: border-box;
  background-color: #FFFFFF;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  max-width: 617px;
  border-radius: 20px;
}

@media screen and (max-width: 617px) {
  body main.container {
    padding-left: 8.1%;
    padding-right: 8.1%;
    border-radius: 0;
  }
}
header {
  padding: 54px 0 18px 0;
}
header h1 {
  font-family: "Inter";
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.navigation .navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  box-shadow: inset 0px -2px 0px #AAAAAA;
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.12rem;
}
.navigation .navigation__item--active {
  box-shadow: inset 0px -3px 0px #074EE8;
  color: #074EE8;
}

.display {
  margin-bottom: 37px;
}
.display .form__content {
  display: flex;
  flex-direction: column;
}
.display .form__content .form__button {
  color: #FFFFFF;
  background-color: #074EE8;
  border-radius: 4px;
  padding: 0px 12px;
  height: 40px;
  font-weight: 400;
  font-size: 1rem;
  border: none;
  outline: none;
}
.display .form__content .form__button--finish {
  align-self: flex-end;
  margin-top: 19px;
}
.display .form__content .form__next {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 12.75px;
  width: 82px;
}
.display .form__content .form__next .form__icon--next {
  background: url("/image/Vector.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 13px;
}
.display .form__content .form__certificates {
  display: flex;
  flex-direction: column;
}
.display .form__content .form__certificates .form__button--more {
  margin: 10px 0;
  width: 109px;
  align-self: flex-end;
  cursor: pointer;
}
.display .form__content .form__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 38px;
}
.display .form__content .form__item label {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #767676;
}
.display .form__content .form__item .label__favorite {
  order: -1;
}
.display .form__content .form__item input {
  background: #FFFFFF;
  border: 2px solid #AAAAAA;
  border-radius: 4px;
  height: 40px;
  padding-left: 12px;
}
.display .form__content .form__item .favorite__input {
  position: relative;
  display: flex;
  gap: 8px;
  flex-direction: column;
  order: 2;
}
.display .form__content .form__item .favorite__input .certificates__input {
  display: flex;
  padding-right: 40px;
}
.display .form__content .form__item .favorite__input span {
  background-image: url("../../image/heart.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 22px;
  position: absolute;
  top: 12px;
  right: 13px;
  cursor: pointer;
}
.display .form__content .form__item .favorite__input--active {
  order: 1;
}
.display .form__content .form__item .favorite__input--active span {
  background: url("../../image/blueHeart.svg");
}
.display .form__content .social__input--github {
  margin-bottom: 312px;
}
.display .form__content .final__title {
  font-weight: 600;
  font-size: 1.12rem;
}
.display .form__content #line {
  background-color: #074EE8;
  width: 100%;
  height: 1px;
}
.display .form__content .final__titles {
  color: #074EE8;
}
.display .form__content .form__create {
  width: 133px;
  height: 37px;
  font-size: 0.8rem;
}/*# sourceMappingURL=style.css.map */